absl_py-2.3.1
accelerate-1.9.0
anndata-0.11.4
appnope-0.1.4
argcomplete-3.6.2
argh-0.31.3
array_api_compat-1.12.0
arrow-1.3.0
asttokens-3.0.0
astunparse-1.6.3
attrs-21.4.0
binaryornot-0.4.4
biopython-1.85
certifi-2025.7.14
chardet-5.2.0
charset_normalizer-3.4.2
click-8.2.1
colorlog-6.9.0
comm-0.2.2
contourpy-1.3.2
cookiecutter-2.6.0
cycler-0.12.1
debugpy-1.8.15
decorator-5.2.1
deprecation-2.1.0
discrete_key_value_bottleneck_pytorch-0.1.1
editdistance-0.8.1
einops-0.8.1
einx-0.3.0
enformer_pytorch-0.8.10
exceptiongroup-1.3.0
executing-2.2.0
fbpca-1.0
filelock-3.18.0
flatbuffers-25.2.10
fonttools-4.59.0
frozendict-2.4.6
fsspec-2025.7.0
future-1.0.0
gast-0.6.0
geosketch-1.3
gffutils-0.13
google_pasta-0.2.0
grpcio-1.74.0
h5py-3.14.0
hf_xet-1.1.5
hotelling-0.5.0
huggingface_hub-0.33.4
idna-3.10
ipykernel-6.29.5
ipython-8.37.0
jedi-0.19.2
jinja2-3.1.6
joblib-1.5.1
jupyter_client-8.6.3
jupyter_core-5.8.1
kagglehub-0.3.12
keras_hub-0.18.1
keras-3.8.0
kipoi_conda-0.3.1
kipoi_utils-0.7.7
kipoi-0.8.6
kipoiseq-0.5.2
kiwisolver-1.4.8
legacy_api_wrap-1.4.1
libclang-18.1.1
lightning_utilities-0.14.3
llvmlite-0.44.0
markdown_it_py-3.0.0
markdown-3.8.2
MarkupSafe-3.0.2
matplotlib_inline-0.1.7
matplotlib-3.10.5
mdurl-0.1.2
mizani-0.14.2
ml_dtypes-0.5.3
mpmath-1.3.0
namex-0.1.0
natsort-8.4.0
nest_asyncio-1.6.0
networkx-3.4.2
numba-0.61.2
numpy-2.0.2
opt_einsum-3.4.0
optree-0.17.0
packaging-25.0
pandas-2.3.1
parso-0.8.4
patsy-1.0.1
pexpect-4.9.0
pillow-11.3.0
pip-25.1.1
platformdirs-4.3.8
plotnine-0.15.0
polars-1.31.0
polygraph-0.1
prompt_toolkit-3.0.51
protobuf-5.29.5
psutil-7.0.0
ptyprocess-0.7.0
pure_eval-0.2.3
pyfaidx-0.8.1.4
pygments-2.19.2
pymemesuite-0.1.0a4
pynndescent-0.5.13
pyparsing-3.2.3
python_dateutil-2.9.0.post0
python_slugify-8.0.4
pytz-2025.2
PyYAML-6.0.2
pyzmq-27.0.0
regex-2024.11.6
related-0.7.3
requests-2.32.4
rich-14.1.0
safetensors-0.5.3
scanpy-1.11.4
scikit_learn-1.7.1
scikit_posthocs-0.11.4
scipy-1.15.3
seaborn-0.13.2
session_info2-0.2
setuptools-80.9.0
simplejson-3.20.1
six-1.17.0
stack_data-0.6.3
statsmodels-0.14.5
sympy-1.14.0
tensorboard_data_server-0.7.2
tensorboard-2.18.0
tensorflow_hub-0.16.1
tensorflow_io_gcs_filesystem-0.37.1
tensorflow-2.18.1
termcolor-3.1.0
text_unidecode-1.3
tf_keras-2.18.0
threadpoolctl-3.6.0
tinydb-4.8.2
tokenizers-0.21.2
torch-2.7.1
torchaudio-2.7.1
torchmetrics-1.7.4
torchvision-0.22.1
tornado-6.5.1
tqdm-4.67.1
traitlets-5.14.3
transformers-4.53.2
types_python_dateutil-2.9.0.20250708
typing_extensions-4.14.1
tzdata-2025.2
umap_learn-0.5.9.post2
upsetplot-0.9.0
urllib3-2.5.0
vector_quantize_pytorch-1.22.17
wcwidth-0.2.13
werkzeug-3.1.3
wheel-0.45.1
wrapt-1.17.2
